

body {
	color: white;
	background: linear-gradient(to left, rgba(52, 0, 93, 0.3), rgba(79, 96, 217, 0.9));
}

header {

    background: linear-gradient(to left, blue, violet);
    
    border-radius: 20 ;
	
	box-shadow: 5px 5px;
}

header h1 {
	/*color: #E9C4C4;*/
}

header p {
	font-style: italic;
}

.card {
	margin: 10px 10px;
	
	
	


}



body section .card img.card-img-top {
	height: 250px;
}

.card {
	height: 200px;
	padding: 10px;
}
#img-superior {
	width: 100px;
	height: 100px;

}

#img-superior img {
	border-radius: 100px;
	height: 90px;
	width: 90px;
}

#apresentacao {
	color: white;
	font-style: italic;
	margin-top: 10px;
}

 div.icones img {
  width: 30px;
  height: 30px;
}
